<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <context:component-scan base-package="org.cora.dao"/>

    <!-- redis连接池的配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
          p:maxTotal="1024"
          p:maxIdle="10"
          p:minIdle="1"
          p:maxWaitMillis="2000"/>

    <!-- redis的连接池 -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool"
          c:poolConfig-ref="jedisPoolConfig"
          c:host="192.168.244.130"
          c:port="6379"/>


    <!--rabbitmq连接服务器-->
    <rabbit:connection-factory id="connectionFactory" host="192.168.244.130" port="5672"
                               username="root" password="1qaz@WSX"/>
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--rabbitmq队列-->
    <rabbit:queue id="queue_one" name="queue_one" durable="true" auto-delete="false" exclusive="false"/>

    <!--rabbitmq message listener-->
    <bean id="rabbitMqConsumer" class="org.cora.message.RabbitMqConsumer"/>
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener queues="queue_one" ref="rabbitMqConsumer"/>
    </rabbit:listener-container>

    <!--rabbitmq exchange-->
    <rabbit:direct-exchange id="exchange_one" name="exchange_one" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="queue_one" key="queue_one_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--rabbitmq template-->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="exchange_one"/>
</beans>